* {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes point-1 {
  0%, 25% {
    opacity: 0;
  }
  30%, 100% {
    opacity: 1;
  }
}
@keyframes point-2 {
  0%, 50% {
    opacity: 0;
  }
  55%, 100% {
    opacity: 1;
  }
}
@keyframes point-3 {
  0%, 75% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}
.fa-music {
  background: linear-gradient(to right, #f05160, #f6916a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fa-2x {
  transform: translateY(15%);
  margin-right: 5px;
}

.button {
  position: absolute;
  bottom: 15vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  background: #579e87;
  color: #fdcb49;
  padding: 15px 65px;
}
.button__text {
  font-size: 36px;
  margin: 0 10px 0 0;
}
.button__points {
  font-size: 36px;
  margin: 0;
}
.button__points--1 {
  animation: point-1 2000ms backwards infinite;
}
.button__points--2 {
  animation: point-2 2000ms backwards infinite;
}
.button__points--3 {
  animation: point-3 2000ms backwards infinite;
}

.image__menu-1--left {
  margin-left: 30px;
}
.image__menu-1--right {
  margin-right: 30px;
}
.image__menu-2 {
  transform: translateY(-5%);
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.list--bold {
  font-weight: bold;
}
.list ul {
  padding: 0;
}

.header {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #579e87;
  color: #fdcb49;
  display: flex;
}
.header__title {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.footer {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #579e87;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  color: #fdcb49;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  padding: 20px;
}

.menus {
  display: flex;
  justify-content: center;
}

.main-index {
  height: 100vh;
  width: 100%;
}
.main-index ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 382px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 15px #d4d4d4;
  transform: translateY(-10%);
  position: relative;
}
.card--1 {
  font-family: "Kalam", cursive;
  background: #fcdfdb;
  color: #3d1319;
}
.card--1 h1 {
  font-family: "Devonshire", cursive;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card--1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
.card--1 div h2 {
  font-family: "Kalam", cursive;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 18px;
}
.card--1:hover div {
  transform: scale(1.15);
  opacity: 0.85;
}
.card--2 {
  font-family: "Times New Roman", Times, serif;
}
.card--2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
.card--2 div h1 {
  font-size: 24px;
  margin: 0;
  background: linear-gradient(to right, #c77412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card--2 div h2 {
  font-size: 30px;
  color: #c77412;
}
.card--2:hover div {
  transform: scale(1.15);
  opacity: 0.85;
}
.card--3 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
.card--3 div h1 {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  margin: 0;
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card--3 div h2 {
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: #0887fb;
}
.card--3:hover div {
  transform: scale(1.15);
  opacity: 0.85;
}
.card--4 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}
.card--4 div h1 {
  font-family: "Kalam", cursive;
  font-size: 26px;
  margin: 0;
  background: linear-gradient(to right, #41963c, #cefea0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card--4 div h2 {
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: #72bf56;
}
.card--4:hover div {
  transform: scale(1.15);
  opacity: 0.85;
}
.card a {
  display: inline-block;
  position: absolute;
  height: 382px;
  width: 270px;
  z-index: 1;
}

.main-mentions {
  font-family: "Times New Roman", Times, serif;
  margin-top: 150px;
}
.main-mentions h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.main-mentions p {
  font-size: 14px;
  text-align: justify;
}

.menu-1 {
  font-family: "Kalam", cursive;
  background: #fcdfdb;
  color: #3d1319;
  height: 593px;
  width: 405px;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-1 h1 {
  font-family: "Devonshire", cursive;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.menu-1 header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-1__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-1__subtitle h2 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.menu-1 footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-2 {
  height: 593px;
  width: 405px;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-2 h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 70px;
  background: linear-gradient(to right, #c77412, #a56799, #6e4ccc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu-2__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-2__subtitle h2 {
  margin: 0;
}
.menu-2__entrees {
  color: #c77412;
  margin-bottom: 30px;
}
.menu-2__plats {
  color: #a56799;
  margin-bottom: 30px;
}
.menu-2__desserts {
  color: #6e4ccc;
}

.menu-3 {
  height: 593px;
  width: 405px;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  font-family: "Kalam", cursive;
  background: #edefef;
  justify-content: center;
}
.menu-3 h1 {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  margin-bottom: 35px;
  text-align: center;
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu-3__subtitle {
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-3__subtitle--1::before {
  border-bottom: 3px solid;
  content: "";
  border-left: 10px solid;
  width: 110px;
  margin-left: 15px;
  border-bottom-left-radius: 50%;
  color: #0228dd;
}
.menu-3__subtitle--1::after {
  border-bottom: 3px solid;
  content: "";
  width: 110px;
  margin-right: 10px;
  border-bottom-right-radius: 50%;
  color: #0228dd;
}
.menu-3__subtitle--2::before {
  border-bottom: 3px solid;
  content: "";
  border-left: 10px solid;
  width: 110px;
  margin-left: 15px;
  border-bottom-left-radius: 50%;
  color: #0670f3;
}
.menu-3__subtitle--2::after {
  border-bottom: 3px solid;
  content: "";
  width: 110px;
  margin-right: 10px;
  border-bottom-right-radius: 50%;
  color: #0670f3;
}
.menu-3__subtitle--3::before {
  border-bottom: 3px solid;
  content: "";
  border-left: 10px solid;
  width: 110px;
  margin-left: 15px;
  border-bottom-left-radius: 50%;
  color: #229df9;
}
.menu-3__subtitle--3::after {
  border-bottom: 3px solid;
  content: "";
  width: 110px;
  margin-right: 10px;
  border-bottom-right-radius: 50%;
  color: #229df9;
}

.menu-4 {
  height: 593px;
  width: 405px;
  margin-top: 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Kalam", cursive;
}
.menu-4 h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 35px;
  background: linear-gradient(to right, #41963c, #cefea0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.menu-4__subtitle {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-4__subtitle h2 {
  font-size: 12px;
  font-weight: 400;
}
.menu-4 li {
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */
