.button {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    background: $clr-header;
    color: $clr-header-txt;
    padding: 15px 50px;
    &__text {
        font-size: 32px;
        margin: 0 10px 0 0;
    }
    &__points {
        font-size: 32px;
        margin: 0;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation: point-#{$i} 2s infinite;
            }
        }
    }
}

@media (max-height: map-get($breakpoints, height)), (max-width: map-get($breakpoints, small)) {
.button {
    padding: 10px 30px;
    &__text {
        font-size: 20px;
        margin: 0 5px 0 0;
    }
    &__points {
        font-size: 20px;
    }
}
}
