button {
    position: absolute;
    bottom: 15vh;
    left: 50vw;
    transform: translateX(-50%);
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    background: $clr-header;
    color: $clr-header-txt;
    padding: 15px 65px;
}