.fa-music {
    background: linear-gradient(to right, #f05160, #f6916a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-2x {
    transform: translateY(15%);
}