.image {
    &__menu-1 {
        &--left {
            margin-left: 30px;
        }
        &--right {
            margin-right: 30px;
        }
    }
    &__menu-2 {
        transform: translateY(-5%);
    }
}