* {
    box-sizing: border-box;
    font-size: 13px;
}

body {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@media (max-width: map-get($breakpoints, small)) {
h2 {
    &::before {
            display: none;
    }
}   
}