.card {
    height: 382px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__first {
        background: #fcdfdb;
        color: #3d1319;
        font-family: 'Devonshire', cursive;
        & h2 {
            font-family: 'Kalam', cursive;
            text-transform: uppercase;
        }
    }
    &__second {}
    &__third {}
    &__fourth {}
}