.menu-4 {
    @include menu-size;
    font-family: 'Kalam', cursive;
    & h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 35px;
        background: linear-gradient(to right, #41963c, #cefea0);
        background-clip: text;
        color: transparent;
    }
    &__subtitle {
        @include menu-subtitle;
        & h2 {
            font-size: 15px;
            font-weight: 400;
            @include underline-animation;
            &::before {
                background: #000;
                height: 1px;
            }
        }
    }
    &__list {
        @include list-size;
    }
    & ul:last-child {
        margin-bottom: 10px;
    }
}