.menu-1 {
    @include la-note-enchantee;
    @include menu-size;
    justify-content: space-around;
    & header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        @include menu-subtitle;
        & h2 {
            font-size: 14px;
            font-weight: 700;
            margin: 0;
        }
    }
    & footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}