.menu-2 {
    @include menu-size;
    & h1 {
        font-size: 24px;
        text-align: center;
        background: linear-gradient(to right, #c77412, #a56799, #6e4ccc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}