.menu-3 {
    @include menu-size;
    font-family: 'Kalam', cursive;
    background: #edefef; 
    & h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 36px;
        margin-bottom: 35px;
        text-align: center;
        background: linear-gradient(to right, $clr-menu3-entrees, $clr-menu3-plats, $clr-menu3-desserts);
        background-clip: text;
        color: transparent;
    }
    &__subtitle {
        font-size: 15px;
        font-weight: 400;
        @include menu-subtitle;
        &--1 {
            @include underline-animation;
            &::before {
                background: $clr-menu3-entrees;
            }
        }
        &--2 {
            @include underline-animation;
            &::before {
                background: $clr-menu3-plats;
            }
        }
        &--3 {
            @include underline-animation;
            &::before {
                background: $clr-menu3-desserts;
            }
        }
    }
    &__list {
        @include list-size;
    }
    & ul:last-child {
        margin-bottom: 10px;
    }
}

.line-left {
    @include line-left;
    &--1 {
        color: $clr-menu3-entrees;
    }
    &--2 {
        color: $clr-menu3-plats;
    }
    &--3 {
        color: $clr-menu3-desserts;
    }
    & hr {
        display: none;
    }
}

.line-right {
    @include line-right;
    &--1 {
        color: $clr-menu3-entrees;
    }
    &--2 {
        color: $clr-menu3-plats;
    }
    &--3 {
        color: $clr-menu3-desserts;
    }
    & hr {
        display: none;
    }
}

@media (max-width: map-get($breakpoints, xs)) {
.line-right {
    width: 73px;
}
.line-left {
    width: 73px;
}
}