.main-mentions {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;
    & h1 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
    & p {
        font-size: 14px;
        text-align: justify;
    }
}