.menu-1 {
    @include la-note-enchantee;
    @include menu-size;
    &__icon{
        &--top {
            margin-top: 40px;
        }
        &--bottom {
            margin-right: 5px;
        }
    }
    &__image {
        &--left {
            float: left;
            margin-left: 40px;
        }
        &--right {
            float: right;
            margin-right: 40px;
        }
    }
    & header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }
    & h2 {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
    }
}