.menu-2 {
    @include menu-size;
    justify-content: center;
    & h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 70px;
        background: linear-gradient(to right, $clr-menu2-entrees, $clr-menu2-plats, $clr-menu2-desserts);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &__subtitle {
        @include menu-subtitle;
        & h2 {
            margin: 0;
            @include underline-animation;
        }
    }
    &__entrees {
        color: $clr-menu2-entrees;
        margin-bottom: 30px;
        & h2 {
            @include underline-animation;
            &::before {
                background: $clr-menu2-entrees;
                height: 2px;
            }
        }
    }
    &__plats {
        color: $clr-menu2-plats;
        margin-bottom: 30px;
        & h2 {
            @include underline-animation;
            &::before {
                background: $clr-menu2-plats;
                height: 2px;
            }
        }
    }
    &__desserts {
        color: $clr-menu2-desserts;
        & h2 {
            @include underline-animation;
            &::before {
                background: $clr-menu2-desserts;
                height: 2px;
            }
        }
    }
}