@mixin header {
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background: $clr-header;
    color: $clr-header-txt;
    display: flex;
}

@mixin header-title {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

@mixin footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $clr-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin footer-p {
    font-family: 'Montserrat', sans-serif;
    color: $clr-header-txt;
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    padding: 20px;
}

@mixin la-note-enchantee {
    font-family: 'Kalam', cursive;
    background: #fcdfdb;
    color: $clr-menu-1;
    & h1 {
        font-family: 'Devonshire', cursive;
        font-size: 24px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

@mixin menu-size {
    height: 593px;
    width: 405px;
    margin-top: 122px;
    display: flex;
    flex-direction: column;
}

@mixin menu-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin lines {
    border-bottom: 3px solid;
    content: "";
}

@mixin line-left {
    border-left: 10px solid;
    width: 110px;
    margin-left: 15px;
    border-bottom-left-radius: 50%;
}

@mixin line-right {
    width: 110px;
    margin-right: 10px;
    border-bottom-right-radius: 50%;
}

@mixin proprietes-div-animees {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

@mixin animation-menus {
    transform: scale(1.15);
    opacity: .85;
}
