@mixin header {
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background: $clr-header;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: $clr-header-txt;
}

@mixin footer {
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: $clr-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin footer-p {
    font-family: 'Montserrat', sans-serif;
    color: $clr-header-txt;
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    padding: 20px;
}

@mixin la-note-enchantee {
    font-family: 'Kalam', cursive;
    background: #fcdfdb;
    color: $clr-menu1;
}

@mixin menu-size {
    height: 100%;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin menu-subtitle {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & h2 {
        margin: 0;
    }
}

@mixin list-size {
    margin: 0 20px;
    padding: 0;
    &--item {
        display: flex;
        justify-content: space-between;
        & span:first-child {
            margin-right: 10px;
        }
    }
    &--bold {
        font-weight: bold;
    }
}

@mixin line-left {
    border-bottom: 3px solid;
    border-left: 3px solid;
    width: 110px;
    height: 5px;
    margin-left: 20px;
    border-bottom-left-radius: 10px;
}

@mixin line-right {
    border-bottom: 3px solid;
    border-right: 3px solid;
    width: 110px;
    height: 5px;
    margin-right: 20px;
    border-bottom-right-radius: 10px;
}

@mixin proprietes-div-animees {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

@mixin animation-menus {
    transform: scale(1.15);
    opacity: .6;
}

@mixin underline-animation {
    position: relative;
    &::before {
        content: '';
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms;
    }
    &:hover::before {
        transform: scaleX(1);
    }
}
