$clr-header: #579e87;
$clr-header-txt: #fdcb49;
$clr-menu1: #3d1319;
$clr-menu2-entrees: #c77412;
$clr-menu2-plats: #a56799;
$clr-menu2-desserts: #6e4ccc;
$clr-menu3-entrees: #0228dd;
$clr-menu3-plats: #0670f3;
$clr-menu3-desserts: #229df9;

$breakpoints : (
    tablette: 1128px,
    mobile: 633px,
    height: 733px
)