.footer {
    @include footer;
    & p {
        @include footer-p;
        &:hover {
            animation: wiggle 300ms;
        }
    }
}

@media (max-height: map-get($breakpoints, height)), (max-width: map-get($breakpoints, mobile)) {
.footer {
    height: 40px;
    & p {
        font-size: 18px;
    }
}
}