.header {
    height: 120px;
    background: $clr-header;
    color: $clr-header-txt;
    display: flex;
    &__title {
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 48px;
    }
}